:host{
  display: block;
  width: 100%;
}

.grid-display{
  display: grid;
  width: 100%;
  height: 43rem;
  grid-template-rows: repeat(2, auto);
  grid-auto-columns: 20rem;
  grid-auto-flow:column;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  overflow-x: auto;
  scrollbar-color: #825dff #2a2a2a;
  outline: 1px solid rgba(160, 160, 160, 0.5);
  box-sizing: content-box;
  padding: 1rem 0;
}

.grid-display::-webkit-scrollbar {
  height: 1rem;
}

.grid-display::-webkit-scrollbar-track {
  background: #2a2a2a;
}

.grid-display::-webkit-scrollbar-thumb {
  background: #825dff;
}

.grid-display::-webkit-scrollbar-thumb:hover {
  background: #825dff;
}