.grid-card{
  width: 18rem;
  height: 20rem;
  // scroll-snap-type: x mandatory;
  box-sizing: border-box;
  padding: 1rem;
  justify-self: center;
  align-self: center;
  background-color: #2a2a2a;
  box-shadow: 
    inset 1px 1px 1px rgba(200, 200, 200, 0.25),
    3px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  p{
    margin: 0 0 10px 0;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
  }
}

ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.dropdown-container{
  position: relative;
}

.dropdown-btn{
  height: 2rem;
  width: 1rem;
  margin: 0;
  padding: 0;

  &::before,
  &::after{
    content: "";
    background-color: gray;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 0.4rem;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &::before{
    bottom: 0.6rem;
  }

  &::after{
    top: 0.5rem;
  }
}

.dropdown-menu{
  position: absolute;
  top: 105%;
  background-color: #9a9a9a;
  border-radius: 0.2rem;
  z-index: 70;
}

.dropdown-item{
  width: 5rem;
  height: 2rem;
  position: relative;
  padding: 0.2rem;

  button{
    border-radius: 0.2rem;
    box-sizing: border-box;
    padding: 0.5rem;
    position: relative;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #9a9a9a;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
  img{
    display: inline;
    height: 1.1rem;
    margin: 0 0.3rem 0 0.2rem;
  }
}

.edit-btn:hover > button{
  background-color: #825dff;
  color: white;
}

.delete-btn:hover > button{
  background-color: red;
  color: white;
}

.openDropdown {
  visibility: visible;
  transition: all 0.3s ease-in-out;
  display: block;
}

.closeDropdown{
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  display: none;
}

.label{
  line-height: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}

.order{
  background-color: rgba(130, 93, 255, 0.8);
  color: #ffffff;
  font-weight: bold;
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-size: 1rem;
}

.date{
  padding: 1rem 0;
}

.date-data{
  display: inline;
  padding-left: 0.3rem;
  line-height: 1rem;
}
.date-icon{
  content: url(../../assets/time-past.svg);
  position: relative;
  top: 2px;
}

.selectable{
  cursor: pointer;
  box-shadow: none;
  &:hover{
    scale: 1.02;
    transition: 0.1s ease-in-out;
    background-color: rgba(105, 80, 190, 0.2);
  }
  &.selected{
    outline: 1px solid #825dff;
  }
}

