:host{
  display: block;
  width: 100%;
}

table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.2rem;
  &.selectMode{
    border-collapse: collapse;
  }
}

tr{
  box-shadow: 
    inset 1px 1px 1px rgba(200, 200, 200, 0.25),
    3px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

tr:nth-child(2n){
  background-color: rgba(56, 61, 64, 0.15);
}
tr:nth-child(2n + 1){
  background-color: rgba(56, 61, 64, 0.25);
}

td,
th{
  padding: 0.8rem 1rem;
  text-align: left;
  font-size: 1.1rem;

}

th{
  background-color: #2a2a2a;
  font-weight: bolder;
}

.selectable{
  cursor: pointer;
  box-shadow: none;
  &:hover{
    background-color: rgba(105, 80, 190, 0.25);
  }
  &.selected{
    background-color: rgba(105, 80, 190, 0.5);
  }
}