header{
  font-size: 1.5rem;
  padding: 2rem 0;
  background-color: hsl(0, 0%, 10%);
  position:fixed;
  width: 100vw;
  text-align: center;
  font-weight: bolder;
  z-index: 98;
}

.content{
  width: 80vw;
  margin: 0 auto;
  position: relative;
  top: 8rem;
}