:host{
  width: 100%;
  transform: translateY(30%);
}

:host > *{
  display: block;
  margin: 1rem auto;
}

p{
  font-size: 1.2rem;
  text-align: center;
}

button{
  cursor: pointer;
  color: #e9e9e9;
  background-color: #2a2a2a;
  outline: 1px solid rgba(160, 160, 160, 0.25);
  font-weight: bold;
  transition: all ease-in-out 0.1s;
  border: none;
  width: 16ch;
  height: 2.4rem;
  border-radius: 0.5rem;
}

button:hover{
  color: #000000;
  outline: 1px solid rgba(130, 93, 255, 1);
}