:host {
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;

}

header {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 0 auto;
  height: fit-content;
  button {
    height: fit-content;
    padding: 0.3rem 0.6rem 0.4rem;
  }
}

.modal-content {
  position: absolute;
  width: 45rem;
  height: auto;
  padding: 2rem 2.5rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 1);
  outline: 1px solid rgba(160, 160, 160, 0.5);
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
}