:host {
  padding: 0;
  margin: 0;
}

.extra-payments-header {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.extra-payments-table-container{
  max-height:26.5rem;
  overflow-y: scroll;
}

.extra-payments {
  border-collapse: separate;
  border-spacing: 0 0.2rem;
  width: 100%;

  th, td{
    padding:0.5rem 0.2rem;
    margin: 0.2rem;
    text-align: left;
    // background-color: rgba(160, 160, 160, 0.5);
    background-color: #2a2a2a;
    user-select: none;
    min-width: 6rem;
  }

  tr th:nth-last-child(2),
  tr td:nth-last-child(2) {
    width: 10rem;
  }

  tr th:last-child,
  tr td:last-child {
    width: max-content;
    min-width:4.5rem;
  }
}

.utility-container {
  display: flex;
  gap: 0.5rem;
}

.utility{
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.2rem;
  box-sizing: content-box;
  margin: auto 0;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  svg{
    width: 100%;
    height: 100%;
    display: block;
  }
  &:hover{
    background-color: rgba($color: #a0a0a0, $alpha: 0.1);
  }
}


p {
  text-align: center;
  font-weight: bolder;
}