:host {
  padding: 0;
  margin: 0;
}

.extra-payments-header {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.extra-payments {
  border-collapse: separate;
  border-spacing: 0 0.2rem;
  width: 100%;

  th, td{
    padding:0.5rem 0.2rem;
    margin: 0.2rem;
    text-align: left;
    background-color: rgba(160, 160, 160, 0.5);
    user-select: none;
    min-width: 6rem;
  }

  tr th:nth-last-child(2),
  tr td:nth-last-child(2) {
    width: 10rem;
  }

  tr th:last-child,
  tr td:last-child {
    width: 2rem;
    min-width:max-content;
  }
}

.utility-container {
  display: flex;
  gap: 0.5rem;
}

.utility{
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: auto 0;
  background-color: transparent;
  outline: 2px solid rgba(160, 160, 160, 0.5);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  svg{
    width: 100%;
    height: 100%;
    display: block;
  }
  &:hover{
    .delete path{
      stroke: red;
    }

    .edit path{
      stroke: green;
    }
  }
}


p {
  text-align: center;
  font-weight: bolder;
}