 :host{
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}

.modal-content{
  width: 20vw;
  height: 40rem;
  padding: 3rem 2.5rem;
  border-radius: 20px;
  background-color: rgb(58, 58, 58);
  outline: 1px solid rgba(160, 160, 160, 0.5);
}

.expanded {
  // border-top-right-radius: 0;
  // border-bottom-right-radius: 0;
  width: 35vw;
}

.modal-content header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  height: 10%;
  button{
    height: fit-content;
    padding: 0.3rem 0.6rem 0.4rem;
  }
}

.modal-content form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 90%;
  width: 100%;
  max-width: 25rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
  appearance: textfield;
}

h2{
  margin: 0.5rem 0;
}

label{
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  width: fit-content;
}

.input-container{
  height: 2.5rem;
  min-width: 15rem;
  width: fit-content;
  background-color: #2a2a2a;
  margin: 0.2rem 0 0.5rem 0;
}

.symbol {
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  width: 1rem;
  margin: 0 0.5rem;
}

.input-container:nth-child(2n+1) .form-input{
    text-indent: 0.5rem;
}

.form-input,
.form-menu{
  background-color: #2a2a2a;
  color: #ffffff;
  font-weight: bold;
  border: none;
}

.form-input{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 13rem;
}

.input-container:has(.balance){
  background-color: hsl(0, 0%,20%);
  outline: 1px solid hsl(0, 0%, 50%);
  & .balance{
    opacity: 0.8;
    background-color: hsl(0, 0%, 20%);
  }
}

.name{
  width: 100%;
}

.form-menu{
  cursor: pointer;
  width: 80%;
  height: 100%;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  text-align: center;
}

.date-menu{
  .input-container{
    // width: 14rem;
    input{
      width: 12.5rem;
    }
  }
}

.tooltip-container{
  position: relative;
  display: inline-block;
  background-color: #2a2a2a;
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0.7rem;
  line-height: 0.8rem;
  text-align: center;
  padding:  0.1rem;
  border-radius: 50%;
  outline: 1px solid rgba(160, 160, 160, 0.5);
  margin-left: 1rem;
  cursor: help;
  .tooltip-text{
    visibility: hidden;
    position: absolute;
    display: inline-block;
    font-size: 0.8rem;
    bottom: 1rem;
    background-color: #2a2a2a;
    outline: 1px solid rgba(160, 160, 160, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 8rem;
  }

  &:hover > .tooltip-text{
    visibility: visible;
  }
}

.actions{
  display: flex;
  grid-column: 1 / span 1;
  // justify-content: space-around;
  gap: 2rem;
  width: 100%;
  max-width: 25rem;
  margin-top: 1.5rem;
  // align-self:flex-end;
}

.actions > *{
  height: fit-content;
  width: fit-content;
  min-width: 5rem;
}

.extra-payments-section {
  grid-column: 2;
  grid-row: 1 / span 1;
  height: 100%;
  background-color: red;
}