:host{
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}

.modal-content{
  width: 25rem;
  height: 35rem;
  padding: 3rem 2.5rem;
  border-radius: 20px;
  background-color: rgb(58, 58, 58);
  outline: 1px solid rgba(160, 160, 160, 0.5);
}

.modal-content header{
  display: flex;
  justify-content: space-between;
  width: 20rem;
  margin: 0 auto;
  height: 10%;
  button{
    height: fit-content;
    padding: 0.3rem 0.6rem 0.4rem;
    // font-size: 1rem;
    // line-height: 1.2rem;

  }
}

.modal-content form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
  height: 90%;
  width: 20rem;
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
  appearance: textfield;
}

h2{
  margin: 0.5rem 0;
}

.input-container{
  height: 2.5rem;
  max-width: 14rem;
  background-color: #2a2a2a;
}

.symbol {
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  width: 10%;
}

.input-container:nth-child(2n+1) .symbol{
  box-sizing: border-box;
  padding: 0 .2rem;
}

.input-container:nth-child(2n+1) .form-input{
    text-indent: 0.8rem;
}

.form-input,
.form-menu{
  background-color: #2a2a2a;
  color: #ffffff;
  font-weight: bold;
  border: none;
}

.form-input{
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 90%;
}

.name{
  width: 100%;
}

.form-menu{
  cursor: pointer;
  height: 1.2rem;
  width: fit-content;
  padding: 0.5rem 0;
  box-sizing: content-box;
  display: inline-block;
  text-align: center;
}

.date-menu{
  height: 2rem;
  display: inline-block;
  span{
    margin: 0;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: bold;
  }
  input[type=date]{
    padding: 0.5rem;
  }
}

.tooltip-container{
  position: relative;
  display: inline-block;
  background-color: #2a2a2a;
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0.7rem;
  line-height: 0.8rem;
  text-align: center;
  padding: 0.1rem;
  border-radius: 50%;
  outline: 1px solid rgba(160, 160, 160, 0.5);
  margin-left: 0.2rem;
  cursor: help;
  .tooltip-text{
    visibility: hidden;
    position: absolute;
    display: inline-block;
    font-size: 0.8rem;
    bottom: 1rem;
    background-color: #2a2a2a;
    outline: 1px solid rgba(160, 160, 160, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 8rem;
  }

  &:hover > .tooltip-text{
    visibility: visible;
  }
}

.actions{
  display: flex;
  justify-content: space-between;
}

.actions > *{
  margin-right: 1rem;
}